body {
    font-family: Roboto;
    margin-top: 70px;
    background: #283565;
    color: #fff;
    overflow: hidden;
}

.container {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
}

.card-block {
    padding: 20px;
}

.card-block h4 {
    font-weight: 700;
}

#gramsOutput {
    font-size: .8rem;
}

#kgOutput {
    font-size: .8rem;
}

#ozOutput {
    font-size: .8rem;
}